.quote{
    background-image: url(téléchargement.png);
    width: 650px;
    height: 400px;
    position: absolute;
    left: 300px;
    top: 150px;

}
 
 
 
 p{
 position: relative;
 left: 236px;
 top: 10px;
 color: aliceblue;
 font-size: 35px;
}
input{
    position: relative;
    left: 20px;
    top:150px ;
    border-radius: 3px;
    width: 500px;
    height: 23px;
}
button{
    position: relative;
    top: 150px;
    left: 30px;
    height: 26px;
    width: 90px;
    border-radius: 3px;
    border: 1px solid green;
    color: green;
    background-color: transparent;
}
button:hover{
    background-color: green;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(74, 128, 4, 0.945);
}
#pr{
    position: relative;
    top: 170px;
    left: 130px;
    height: 26px;
    width: 90px;
    border-radius: 3px;
    border: 1px solid red;
    color: red;
    background-color: transparent; 
}
#pr:hover{
    background-color: red;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(165, 29, 29, 0.726);
}
#N{
    position: relative;
    top: 170px;
    left: 200px;
    height: 26px;
    width: 90px;
    border-radius: 3px;
    border: 1px solid blue;
    color: blue;
    background-color: transparent; 
} 
#N:hover{
    background-color: blue;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(11, 6, 83, 0.829);
}

